body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin-top: 3em;
    cursor: pointer;
    padding: 0.5em;
}

#web {
    font-family: 'Source Code Pro', monospace;
    color: #1290FF;
}

.link {
    transition: 0.5s;
    color: #949494 !important;
    text-decoration: none !important;
}

#loop-title .link {
    color: black !important;
}

#loop-title .link:hover {
    color: #949494 !important;
}

.link:hover {
    color: white !important;
}

main {
    word-wrap: break-word;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8em;
}

#android {
    height: 8%;
    width: 8%;
    margin-right: 0.25em;
}

@media screen and (min-width: 320px) {
    #android {
        height: 20%;
        width: 20%;
    }

    #title h1 {
        font-size: 1.5rem;
    }

    #aboutme-cont {
        width: 100% !important;
    }

    #bcbf {
        width: 100% !important;
    }
}

@media screen and (min-width: 375px) {
    #title h1 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 425px) {
    #android {
        height: 15%;
        width: 15%;
    }

    #title h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    #android {
        height: 9%;
        width: 9%;
    }

    #title h1 {
        font-size: 2.5rem;
    }

    #bcbf img {
        width: 384px;
        height: 384px;
    }
}

@media screen and (min-width: 990px) {
    .navbar-nav {
        margin-left: auto;
    }
}

@media screen and (min-width: 1005px) {
    #aboutme-cont {
        width: 60% !important;
    }

    #bcbf {
        width: 40% !important;
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    #android {
        height: 8%;
        width: 8%;
    }
}

@media screen and (min-width: 1800px) {
    #android {
        height: 5%;
        width: 5%;
    }
}

#top-nav span {
    color: white !important;
}

nav {
    background-color: #1c1c1c;
}

#pic-title img {
    /*change div to img later*/
    border-radius: 50%;
    display: block;
    margin: auto;
}

#pic-title {
    height: 16.25em;
    margin-top: 8em;
}

.white-text {
    color: white;
}

.text-image-container {
    height: 100%;
}

.text-image-container-text {
    width: 100%;
    padding: 1.5rem 1.5rem;
}

.lato {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.text-image-container-image {
    width: 100%;
    float: right;
    position: relative;
    display: block;
    margin: auto;
}

.black-grey {
    background-color: #1c1c1c;
    color: #949494;
}

footer {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}

#footer {
    width: 100%;
    margin-top: 12em;
}

#icon-container {
    margin: auto;
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

#icon-container li {
    margin-left: 1rem;
    margin-right: 1rem;
}

#legal {
    width: 100%;
}

#cc {
    word-wrap: break-word;
    color: #949494;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    line-height: inherit;
    font-size: 0.75rem;
}

@media screen and (max-width: 500px) {
    #legal .navbar-brand {
        margin: auto;
    }

    #cc {
        text-align: center;
        margin: auto;
    }
}

@media screen and (min-width: 501px) {
    #name-copyright {
        margin-right: auto;
    }

    #cc {
        margin-left: auto;
    }
}

@media screen and (min-width: 992px) {
    #name-copyright, #cc {
        padding-left: 1em;
        padding-right: 1em;
    }
}
